<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div class="flex-auto p-3 sm:p-5">
    <!-- CONTENT -->
    <div class="border-2 border-gray rounded-2xl">
      <div class="w-full rounded mx-auto bg-white py-1.5 px-5 lg:px-5 shadow-xl mb-1">

        <form *ngIf="baseFormEquiposService.baseForm" [formGroup]="baseFormEquiposService.baseForm" class="team-form">
          <div class="md:w-1/2 group inline-flex relative sm:w-full">
            <h2 class="text-base font-bold text-left">
                
                {{isAddMode ? 'Agregar equipo' : 'Editar equipo '}}
            </h2>
        </div>
        <div class="md:w-1/2 group inline-flex relative sm:w-full justify-end">
          <mat-slide-toggle *ngIf="!isAddMode" formControlName="switchEditar" [color]="'primary'"
              (change)="setAutoMode($event)" class="text-sm font-semibold">
              Detalle
          </mat-slide-toggle>
      </div>

          <div class="flex mt-2 pb-4 w-full">
            <div class="mt-px border-t w-full"></div>
          </div>

          <div class="form-group group">
            <mat-label class=" text-black  text-sm font-bold mb-2" for="nombre">Nombre:</mat-label>
            <mat-form-field class="w-full">
              <input matInput type="text" id="nombre" name="nombre" 
                formControlName="nombre" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Estadio:</mat-label>
            <mat-form-field class="w-full">

              <input matInput type="text" id="estadio" name="estadio" 
                formControlName="estadio" />
            </mat-form-field>
          </div>



          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2"
              class="tracking-wide text-black  text-sm font-bold mb-2">Sitio Web:</mat-label>
            <mat-form-field class="w-full">

              <input matInput type="text" id="SitioWeb" name="SitioWeb" 
                formControlName="sitioWeb" />
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2"
              class="tracking-wide text-black  text-sm font-bold mb-2">Nacionalidad:</mat-label>
            <mat-form-field class="w-full">

              <input matInput type="text" id="Nacionalidad" name="Nacionalidad" 
                formControlName="nacionalidad" />
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Año de Fundación:</mat-label>
            <mat-form-field class="w-full">

              <input matInput type="date" id="no-fundacion" name="ano-fundacion"
              formControlName="fundacion" />
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Entrenador:</mat-label>
            <mat-form-field class="w-full">

              <input matInput type="text" id="Entrenador" name="Entrenador" 
                formControlName="entrenador" />
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Capacidad:</mat-label>
            <mat-form-field class="w-full">
              <input matInput type="number" id="Capacidad" name="Capacidad" 
                formControlName="capacidad" />
            </mat-form-field>
          </div>


          <div class="form-group">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Valor:</mat-label>
            <mat-form-field class="w-full">
              <input matInput type="number" id="Valor" name="Valor" formControlName="valor" />
            </mat-form-field>
          </div>

        </form>
        <div class="md:w-1/4 sm:w-full w-100 relative z-0 mb-2 px-2 group inline-flex justify-end">
          <button type="button"
            class="bg-secondary text-sm font-semibold py-2 px-2 border border-solid  text-white  hover:bg-[#FF8403] rounded-full"
            (click)="goBack()">
            <mat-label class="tracking-wide text-black  text-sm font-bold mb-2">Cancelar</mat-label>
          </button>
          <span class="px-4"></span>
          <button mat-flat-button type="submit" (click)="addEquipo()"
            class="bg-primary text-white text-sm font-semibold py-2 px-2 rounded-full hover:bg-[#FF8403]">
            <span>
              Save
            </span>
            <mat-progress-spinner *ngIf="baseFormEquiposService.baseForm.disabled" [diameter]="24"
              [mode]="'indeterminate'">
            </mat-progress-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>